<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<head lang="en" th:replace="fragments/head :: head"></head>-->

<body class="config">

<div class="preloader is-active">
    <div class="preloader__wrap">
        <img class="preloader__img" src="images/preloader.png" alt="">
    </div>
</div>

<div id="app">

    <div th:replace="fragments/header :: header"></div>

    <div layout:fragment="content"></div>

    <div th:replace="fragments/footer :: footer"></div>

</div>

<!--====== Vendor Js ======-->
<script th:src="@{/js/vendor.js}"></script>

<!--====== jQuery Shopnav plugin ======-->
<script th:src="@{/js/jquery.shopnav.js}"></script>

<!--====== App ======-->
<script th:src="@{/js/app.js}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Giờ tất cả các file js tự tạo nằm ở folder js/customJs.js   -->
<script th:inline="javascript">

    function changeLangEn() {
        let x = [[${@langugesContext.getCurrentLanguages()}]];
        if (x == 'en_US') {
            return;
        }
        let url_string = window.location.href;
        let url = new URL(url_string);
        let lang = url.searchParams.get("lang");
        console.log(lang);
        if (lang == null) {
            window.location.replace(window.location.href + "?lang=en_US");
        } else {
            url.searchParams.set("lang", "en_US");
            window.location.replace(url.toString());
        }
    }

    function changeLangVi() {
        let x = [[${@langugesContext.getCurrentLanguages()}]];
        if (x == 'vi') {
            return;
        }
        let url_string = window.location.href;
        let url = new URL(url_string);
        let lang = url.searchParams.get("lang");
        console.log(lang);
        if (lang == null) {
            window.location.replace(window.location.href + "?lang=vi");
        } else {
            url.searchParams.set("lang", "vi");
            window.location.replace(url.toString());
        }
    }

</script>

<th:block layout:fragment="script"></th:block>
<!--====== Noscript ======-->
<noscript>
    <div class="app-setting">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="app-setting__wrap">
                        <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                        <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a
                                JavaScript-capable browser.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</noscript>
</body>

</html>