<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/_layout}">

<head th:replace="fragments/head :: head(titleText='SignIn')"></head>

<body class="config">


<!--====== Main App ======-->
<div layout:fragment="content">


    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="index.html">Home</a></li>
                                <li class="is-marked">

                                    <a href="signup.html">Signup</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Intro ======-->
            <div class="section__intro u-s-m-b-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section__text-wrap">
                                <h1 class="section__heading u-c-secondary">CREATE AN ACCOUNT</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Intro ======-->


            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="row row--center">
                        <div class="col-lg-6 col-md-8 u-s-m-b-30">
                            <div class="l-f-o">
                                <div class="l-f-o__pad-box">
                                    <h1 class="gl-h1">PERSONAL INFORMATION</h1>
                                    <form id="myForm" class="l-f-o__form" th:action="@{/signup}" th:object="${user}"
                                          method="post">
                                        <div class="gl-s-api">
                                            <div class="u-s-m-b-15">

                                                <button class="gl-s-api__btn gl-s-api__btn--fb" type="button"><i
                                                        class="fab fa-facebook-f"></i>

                                                    <span>Signup with Facebook</span></button>
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <button class="gl-s-api__btn gl-s-api__btn--gplus" type="button"><i
                                                        class="fab fa-google"></i>

                                                    <span>Signup with Google</span></button>
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">

                                            <label class="gl-label" for="reg-fname">FIRST NAME *</label>

                                            <input class="input-text input-text--primary-style" type="text"
                                                   id="reg-fname" placeholder="First Name"></div>
                                        <div class="u-s-m-b-30">

                                            <label class="gl-label" for="reg-lname">LAST NAME *</label>

                                            <input class="input-text input-text--primary-style" type="text"
                                                   id="reg-lname" placeholder="Last Name"></div>
                                        <div class="gl-inline">
                                            <div class="u-s-m-b-30">

                                                <!--====== Date of Birth Select-Box ======-->

                                                <span class="gl-label">BIRTHDAY</span>
                                                <div class="gl-dob"><select
                                                        class="select-box select-box--primary-style">
                                                    <option selected>Month</option>
                                                    <option value="male">January</option>
                                                    <option value="male">February</option>
                                                    <option value="male">March</option>
                                                    <option value="male">April</option>
                                                </select><select class="select-box select-box--primary-style">
                                                    <option selected>Day</option>
                                                    <option value="01">01</option>
                                                    <option value="02">02</option>
                                                    <option value="03">03</option>
                                                    <option value="04">04</option>
                                                </select><select class="select-box select-box--primary-style">
                                                    <option selected>Year</option>
                                                    <option value="1991">1991</option>
                                                    <option value="1992">1992</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1994">1994</option>
                                                </select></div>
                                                <!--====== End - Date of Birth Select-Box ======-->
                                            </div>
                                            <div class="u-s-m-b-30">

                                                <label class="gl-label" for="gender">GENDER</label><select
                                                    class="select-box select-box--primary-style u-w-100" id="gender">
                                                <option selected>Select</option>
                                                <option value="male">Male</option>
                                                <option value="male">Female</option>
                                            </select></div>
                                        </div>
                                        <div class="u-s-m-b-30">

                                            <label class="gl-label" for="reg-email">E-MAIL *</label>

                                            <input class="input-text input-text--primary-style" type="text"
                                                   id="reg-email" placeholder="Enter E-mail"
                                                   oninput="checkValidEmail()" th:field="*{email}" required>
                                            <div id="alertEmail"
                                                 style="margin-top: 5%;text-align :center;visibility: hidden;background-color: red">
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-30">

                                            <label class="gl-label" for="reg-password">PASSWORD *</label>

                                            <input class="input-text input-text--primary-style" type="text"
                                                   id="reg-password" placeholder="Enter Password"
                                                   oninput="checkValidPassword()" th:field="*{password}" required>
                                            <div id="alertPassword"
                                                 style="margin-top: 5%;text-align :center;visibility: hidden">
                                            </div>
                                        </div>
                                        <div class="u-s-m-b-15">

                                            <button class="btn btn--e-transparent-brand-b-2" type="submit">CREATE
                                            </button>
                                        </div>

                                        <a class="gl-link" href="#">Return to Store</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->


</div>
<!--====== End - Main App ======-->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        let alertEmail = document.getElementById('alertEmail');

        function checkValidEmail() {
            let inputValue = document.getElementById('reg-email').value;
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(inputValue)) {
                alertEmail.style.visibility = 'collapse';
                alertEmail.textContent = '';
                return true;
            } else {
                alertEmail.style.visibility = 'visible';
                alertEmail.textContent = 'Invalid Email!';
                return false;
            }
        }


        let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})');
        let mediumPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))');
        let ele = document.getElementById("alertPassword");

        function checkValidPassword() {
            //check Password strong
            let inputElement = document.getElementById('reg-password').value;
            console.log(inputElement);
            ele.style.visibility = 'visible';
            if (strongPassword.test(inputElement)) {
                ele.style.backgroundColor = 'green';
                ele.textContent = "Strong";
                return true;
            } else if (mediumPassword.test(inputElement)) {
                ele.style.backgroundColor = 'blue';
                ele.textContent = "Medium";
                return true;
            } else {
                ele.style.backgroundColor = 'red  ';
                ele.textContent = "Weak";
                return false;
            }
        }

        // this is the id of the form
        $("#myForm").submit(function (e) {
            console.log('begin');
            let x = (checkValidEmail() && checkValidPassword());
            if (x == false) {
                e.preventDefault();
                alert("nhập như cc người ta");
                return;
            }

            console.log('submit');

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    if (data == "success") {
                        alert("Bạn đăng ký thành công roài đó, check email nhận tin nhắn verify nhoa");
                    }
                }
            });
        });

        window.onload = () => {
            let x = [[${sendEmailSuccess}]];
            if (x == 'wasSend') {
                alert("Đã gửi email qua thư của bạn rồi đó");
            } else if (x == 'verifyError') {
                alert("Bị lỗi gì đó không verify được rồi, bạn đăng ký lại nha");
            }
        }
    </script>
</th:block>

</body>
</html>